/qwen/
/__pycache__/
/mumu-fish-llm-web/
get_sci/data_origin/
get_sci/jcr
get_sci/test_pdf
/BAAI/
/PDF/paper_md/extracted_tables.md
/get_sci/test_pdf/
/get_sci/dataser_origin/
/PDF/
test_markdown1/
dataset_origin/